%p= @restaurant.name
%p= @restaurant.description
= link_to "Write a Review", new_restaurant_review_path(@restaurant)
%p= @restaurant.rating
- @reviews.each do |review|
  %p
  = review.id
  =review.thoughts
  =review.rating
